@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

body {
  font-family: Muller;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: var(--green, #77bd61);
}

.btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 1px 1px 7px #495f42;
  box-shadow: 1px 1px 7px #495f42;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  color: var(--black, #2c3335);
  font-size: calc(30px + 12 * ((100vw - 360px) / 1560));
  font-weight: 500;
}

.footer {
  background: #5f7980;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "a b v" "g d e" ". . i" "j . z";
  padding: 3.9% 10px 3.2% 10px;
  gap: 20px;
}

.footer__container :nth-child(3),
.footer__container :nth-child(6),
.footer__container :nth-child(9),
.footer__container :nth-child(7) {
  justify-self: flex-end;
}

.footer__container :nth-child(7),
.footer__container :nth-child(8),
.footer__container :nth-child(9) {
  color: var(--bright-grey, #ddd);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
}

.footer__item {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  /* 22px */
}

.footer__container > a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__container > a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: underline;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  height: 130px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.header__btn {
  padding: 16px 40px 16px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background: #3caab6;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__btn::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  left: 30px;
  top: 17px;
  background: url("../img/header/header__btn-icon.svg") 0 0/cover no-repeat;
}

.header__btn:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 1px 1px 7px rgb(40, 126, 105);
  box-shadow: 1px 1px 7px rgb(40, 126, 105);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.no-webp .main {
  background: url("../../img/main/main__bg.png") top right 30%/contain no-repeat;
}

.main__container {
  padding: 120px 10px 14.5% 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 8.4%;
}

.main__title {
  color: #0066ab;
  font-size: calc(36px + 32 * ((100vw - 360px) / 1560));
  font-weight: 800;
}

.main__subtitle {
  color: var(--black, #2c3335);
  font-size: calc(36px + 32 * ((100vw - 360px) / 1560));
  font-weight: 400;
  margin-bottom: 13.8%;
}

.main__text {
  color: var(--grey, #7d8789);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-size: 24px;
  font-weight: 400;
  line-height: 116.667%;
  /* 28px */
  margin-bottom: 7.5%;
  max-width: 417px;
}

.main__btn {
  color: #fff;
  font-size: calc(17px + 7 * ((100vw - 360px) / 1560));
  font-weight: 500;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 30px 50px;
}

.main__img-wrap {
  position: relative;
  width: 105%;
  height: 0;
  padding-bottom: 103.8525963149%;
}

.main__wrap-bg {
  position: absolute;
  width: 44%;
  height: 70.5%;
  right: 70px;
  top: 130px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.organizations__container {
  padding: 8px 10px 5% 10px;
}

.organizations__wrap-img {
  position: relative;
  width: 102.5%;
  height: 0;
  padding-bottom: 102.6315789474%;
  margin-bottom: 17px;
}

.organizations__slider-wrap {
  border-radius: 15px;
  border: 1px solid var(--bright-grey, #ddd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 51px 75px;
}

.organizations__slider-title {
  color: var(--grey, #7d8789);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  line-height: 116.667%;
  /* 28px */
}

.organizations-button-prev {
  cursor: pointer;
  background-color: #0066ab;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.organizations-button-prev::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 25px;
  height: 25px;
  background: url("../img/organizations/organization__arrow-next.svg") 0 0/cover no-repeat;
}

.organizations-button-prev.swiper-button-disabled {
  border: 1px solid #ddd;
  background-color: #fff;
}

.organizations-button-prev.swiper-button-disabled::before {
  content: "";
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background: url("../img/organizations/organization__arrow-prev.svg") 0 0/cover no-repeat;
}

.organizations-button-prev:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 7px #2c5f81;
  box-shadow: 1px 1px 7px #2c5f81;
}

.organizations-button-next {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background-color: #0066ab;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: relative;
}

.organizations-button-next::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 25px;
  height: 25px;
  background: url("../img/organizations/organization__arrow-next.svg") 0 0/cover no-repeat;
}

.organizations-button-next:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 7px #2c5f81;
  box-shadow: 1px 1px 7px #2c5f81;
}

.organizations-button-next.swiper-button-disabled {
  border: 1px solid #ddd;
  background-color: #fff;
}

.organizations-button-next.swiper-button-disabled::before {
  content: "";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background: url("../img/organizations/organization__arrow-prev.svg") 0 0/cover no-repeat;
}

.organization__nav-btn {
  margin-top: 47px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 5px 0;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1% 10px 5.2% 10px;
}

.info__text-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 19.5%;
  flex: 0 0 19.5%;
  margin: 0 6% 4.3% 0;
}

.info__items-box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 74%;
  flex: 1 1 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 26px;
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 31.333%;
  flex: 1 1 31.333%;
  border-radius: 15px;
  background: #0066ab;
  padding: 30px;
  min-width: 290px;
}

.info__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 80px;
}

.info__item_green {
  background: #3caab6;
}

.info__item_grey {
  background: #5f7980;
}

.info__item-logo {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}

.info__item-title {
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
}

.info__item-subtitle {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  max-width: 239px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.notification__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.notification__content-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.5%;
  flex: 0 0 45.5%;
  padding: 5.5% 0 7.9% 0;
}

.notification__title {
  margin-bottom: 30px;
}

.notification__subtitle {
  margin-bottom: 63px;
  color: var(--black, #2c3335);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  line-height: 116.667%;
  /* 28px */
  margin-bottom: 79px;
  display: inline-block;
}

.notification__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 27px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.notification__lable-btn {
  color: var(--black, #2c3335);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  position: relative;
  padding-right: 59px;
  display: inline-block;
}

.no-webp .notification__lable-btn::after {
  background: url("../img/notification/notification__lable-btn-img.png") 0 0/cover no-repeat;
}

.notification__lable-btn::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -50%;
  right: 0;
  width: 48px;
  height: 48px;
}

.notification__btn {
  padding: 16px 64px 16px 30px;
  position: relative;
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 500;
}

.notification__btn::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 25%;
  right: 30px;
  background: url("../img/notification/notification__btn-logo.svg") 0 0/cover no-repeat;
}

.notification__btn-box-description {
  color: #a8a8a8;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding-left: 36px;
  display: block;
  margin-bottom: 51px;
  max-width: 250px;
}

.notification__btn-box-description::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: -5px;
  width: 30px;
  height: 30px;
  background: url("../img/notification/notification__lable-img.svg") 0 0/cover no-repeat;
}

.notification__text {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  margin-bottom: 20px;
  display: block;
}

.notification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

.notification__item {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notification__item::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/notification/notification__list-item-logo.svg") 0 0/cover no-repeat;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.notification__wrap-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  height: 0;
  position: relative;
  padding-bottom: 49.0284005979%;
}

.notification__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.search__container {
  padding: 6.3% 10px 3.4% 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 26px;
}

.search__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 43%;
  flex: 1 1 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid #7d8789;
  background: #fff;
  padding: 50px 120px 50px 50px;
}

.search__title {
  margin-bottom: 30px;
}

.search__subtitle {
  color: var(--black, #2c3335);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  margin-bottom: 20px;
}

.search__item-info {
  color: var(--grey, #7d8789);
  font-size: 15px;
  font-weight: 400;
}

.search__item_blue {
  background: #0066ab;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}

.search__title_blue {
  color: #fff;
  margin-bottom: 50px;
}

.search__item-btn {
  color: var(--black, #2c3335);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  padding: 30px 50px;
  background: #fff;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search__item-btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 7px rgb(0, 0, 0);
  box-shadow: 1px 1px 7px rgb(0, 0, 0);
}

.search__item-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search__img-wrap {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  height: 0;
  padding-bottom: 43%;
  min-width: 126px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.interface__container {
  padding: 3.7% 10px 4% 10px;
}

.intarface__title {
  margin-bottom: 3.7%;
  max-width: 714px;
}

.interface__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  counter-reset: section;
  gap: 14px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.interface__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 32.333%;
  flex: 1 1 32.333%;
  min-width: 280px;
}

.interface__img-wrap {
  position: relative;
  width: 98%;
  height: 0;
  padding-bottom: 78.9473684211%;
}

.interface__item-count {
  width: 100%;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interface__item-count::before {
  color: #0066ab;
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
  /* 28px */
  counter-increment: section;
  content: counter(section);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.interface__item-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.interface__item-text {
  color: var(--black, #2c3335);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.work__container {
  padding: 0 10px 3.6% 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__img-wrap {
  position: relative;
  width: 31.5%;
  height: 0;
  padding-bottom: 29.4%;
  margin-right: 6.3%;
}

.work__content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.work__title {
  margin-bottom: 3.5%;
}

.work__item-title {
  margin-bottom: 14%;
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 500;
  height: 100%;
}

.work__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  counter-reset: work;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  background: #0066ab;
  padding: 40px;
  position: relative;
  min-height: 320px;
  min-width: 434px;
  overflow: hidden;
}

.work__item::after {
  content: "";
  counter-increment: work;
  content: counter(work);
  position: absolute;
  top: -7%;
  right: 0;
  font-size: 454px;
  font-weight: 700;
  color: #0062a4;
  z-index: 10;
}

.work__item_green {
  background: #3caab6;
  overflow: hidden;
}

.work__item_green::after {
  content: "";
  counter-increment: work;
  content: counter(work);
  position: absolute;
  top: -24px;
  right: 0;
  color: #39a0ab;
  font-size: 454px;
  font-weight: 700;
}

.work__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 30;
}

.work__item-item {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  position: relative;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item-item::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/work/work__list-item-logo.svg") 0 0/cover no-repeat;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.check__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2.5% 10px 2.9% 10px;
  gap: 25px;
}

.check__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid var(--bright-grey, #ddd);
  padding: 50px;
  min-width: 420px;
}

.check__item-title {
  color: #0066ab;
  font-size: calc(30px + 12 * ((100vw - 360px) / 1560));
  font-weight: 700;
  margin-bottom: 9%;
  max-width: 229px;
}

.check__item-title_green {
  color: #3caab6;
  max-width: 460px;
}

.check__item-text {
  color: var(--black, #2c3335);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  max-width: 589px;
}

.check__item-text-info {
  margin-top: 20px;
  color: var(--grey, #7d8789);
  font-size: 15px;
  font-weight: 400;
  line-height: 133.333%;
  /* 20px */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.prise__container {
  padding: 2.6% 10px 3.2% 10px;
}

.prise__row {
  position: relative;
}

.prise__title {
  margin-bottom: 38px;
}

.prise__subtitle {
  color: var(--grey, #7d8789);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  margin-bottom: 50px;
  max-width: 640px;
}

.prise__item {
  border-radius: 15px;
  border: 1px solid var(--bright-grey, #ddd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}

.prise__item-title {
  color: var(--black, #2c3335);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  line-height: 116.667%;
  /* 28px */
  margin-bottom: 20px;
  max-width: 227px;
}

.prise__item__subtitle {
  color: var(--grey, #7d8789);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  margin-bottom: 30px;
}

.prise__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.prise__item-list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.prise__item-item {
  color: var(--black, #2c3335);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
  position: relative;
  padding-left: 24px;
}

.no-webp .prise__item-item::before {
  background: url("../img/prices/prise__list-logo.png") 0 0/cover no-repeat;
}

.prise__item-item::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.prise__item-row-prise {
  color: var(--black, #2c3335);
  font-size: 24px;
  font-weight: 700;
  line-height: 116.667%;
  /* 28px */
}

.prise__item-row-time {
  color: var(--grey, #7d8789);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
}

.prise__slider-button-prev {
  cursor: pointer;
  background-color: #0066ab;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 77px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prise__slider-button-prev::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 25px;
  height: 25px;
  background: url("../img/organizations/organization__arrow-next.svg") 0 0/cover no-repeat;
}

.prise__slider-button-prev.swiper-button-disabled {
  border: 1px solid #ddd;
  background-color: #fff;
}

.prise__slider-button-prev.swiper-button-disabled::before {
  content: "";
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background: url("../img/organizations/organization__arrow-prev.svg") 0 0/cover no-repeat;
}

.prise__slider-button-prev:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 7px #2c5f81;
  box-shadow: 1px 1px 7px #2c5f81;
}

.prise__slider-button-next {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background-color: #0066ab;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.prise__slider-button-next::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 22px;
  left: 22px;
  width: 25px;
  height: 25px;
  background: url("../img/organizations/organization__arrow-next.svg") 0 0/cover no-repeat;
}

.prise__slider-button-next:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 7px #2c5f81;
  box-shadow: 1px 1px 7px #2c5f81;
}

.prise__slider-button-next.swiper-button-disabled {
  border: 1px solid #ddd;
  background-color: #fff;
}

.prise__slider-button-next.swiper-button-disabled::before {
  content: "";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 55px;
  height: 55px;
  background: url("../img/organizations/organization__arrow-prev.svg") 0 0/cover no-repeat;
}

.prise__ilt-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.calculator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2.3% 10px 6.1% 10px;
}

.calculator__title {
  margin-bottom: 20px;
}

.calculator__input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 0.5%;
}

.calculator__input-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 31.333%;
  flex: 0 1 31.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calculator__btn {
  padding: 22px;
  color: #fff;
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 500;
}

.calculator__input-name {
  color: var(--black, #2c3335);
  font-size: 17px;
  font-weight: 400;
  line-height: 129.412%;
  /* 22px */
}

.calculator__input {
  border-radius: 15px;
  border: 1px solid var(--bright-grey, #ddd);
  color: var(--grey, #7d8789);
  font-size: 17px;
  font-weight: 400;
  line-height: 164.706%;
  /* 28px */
  padding: 20px 30px;
}

.calculator__result-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "a zeroTop b v" "g d e j" "z i k l" "m zero n o";
}

.calculator__result-item {
  border-top: 1px solid #ddd;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 30px 0;
  color: var(--black, #2c3335);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
}

.calculator__result-item_no-border {
  border-top: none;
}

.calculator__result-item_dark-border {
  border-top: 1px solid #7d8789;
}

.calculator__result-item_p {
  padding: 42px 0;
}

.calculator__result-item_blue {
  color: #0062a4;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  /* 24px */
}

.calculator__result-item_black {
  color: var(--black, #2c3335);
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  /* 24px */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

ul,
summary {
  list-style: none;
}

.present {
  background: #0062a4;
}

.present__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}

.present__img-wrap {
  position: relative;
  width: 17.5%;
  height: 0;
  padding-bottom: 16.7%;
}

.present__title {
  color: #fff;
}

.present__btn {
  color: var(--black, #2c3335);
  font-size: calc(20px + 4 * ((100vw - 360px) / 1560));
  font-weight: 400;
  padding: 30px 50px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.present__btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 15px rgb(0, 0, 0);
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.webp .main {
  background: url(../../img/main/main__bg.webp) top right 30%/contain no-repeat;
}

.webp .notification__lable-btn::after {
  background: url(../img/notification/notification__lable-btn-img.webp) 0 0/cover no-repeat;
}

.webp .prise__item-item::before {
  background: url(../img/prices/prise__list-logo.webp) 0 0/cover no-repeat;
}

@media (max-width: 1250px) {
  .no-webp .main {
    background: url("../../img/main/main__bg.png") top right -60px/contain no-repeat;
  }

  .webp .main {
    background: url(../../img/main/main__bg.webp) top right -60px/contain no-repeat;
  }
}

@media (max-width: 1200px) {
  .organizations__wrap-img {
    width: 267.5%;
    padding-bottom: 267.6%;
    max-width: 80px;
    min-height: 80px;
    padding-bottom: 0;
  }

  .organizations__slider-wrap {
    padding: 20% 75px;
  }
}

@media (max-width: 1152px) {
  .info__text-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 1150px) {
  .work__img-wrap {
    display: none;
  }
}

@media (max-width: 1100px) {
  .search__item-btn {
    padding: 22px 40px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 960px;
  }

  .main__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 120px 10px 14.5% 10px;
  }

  .main__btn {
    padding: 22px 35px;
  }

  .organizations__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 10px 0 10px;
  }

  .organization__nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .info__item-wrap {
    margin-bottom: 60px;
  }

  .notification__subtitle {
    margin-bottom: 22px;
  }

  .notification__lable-btn {
    font-size: 20px;
  }

  .notification__btn-box-description {
    margin-bottom: 19px;
  }

  .search__item {
    padding: 40px;
  }

  .search__item_blue {
    padding: 40px;
  }

  .interface__container {
    padding: 8.7% 10px 4% 10px;
  }

  .calculator__container {
    padding: 3.3% 10px 3.1% 10px;
  }

  .present__container {
    padding: 4% 10px 4% 10px;
  }
}

@media (max-width: 985px) {
  .interface__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48.333%;
    flex: 0 1 48.333%;
  }
}

@media (max-width: 920px) {
  .calculator__input-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 31.333%;
    flex: 1 1 31.333%;
  }
}

@media (max-width: 900px) {
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[11];
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: "a" "g" "b" "d" "." "v" "e" "i" "z" "." "j";
  }

  .footer__container :nth-child(3),
  .footer__container :nth-child(6),
  .footer__container :nth-child(9),
  .footer__container :nth-child(7) {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .footer__item {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .main__title {
    text-align: center;
  }

  .main__subtitle {
    text-align: center;
  }

  .main__text {
    text-align: center;
  }

  .main__btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 30px 40px;
  }

  .main__wrap-bg {
    position: inherit;
    width: 75.8%;
    height: 44.5%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 9%;
  }

  .notification__content-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }

  .notification__title {
    margin-bottom: 20px;
  }

  .notification__btn-box {
    margin-bottom: 15px;
  }

  .notification__wrap-img {
    display: none;
  }

  .work__item-title {
    height: auto;
  }

  .work__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-width: auto;
    padding: 24px;
    min-height: auto;
  }

  .work__item::after {
    content: none;
  }

  .work__item_green {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    min-width: auto;
  }

  .work__item_green::after {
    content: none;
  }
}

@media (max-width: 750px) {
  .calculator__result-box {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[8];
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "a zeroTop" "g z" "d i" "b ." "e k" "v ." "j l" "n o";
  }

  .calculator__result-box :nth-child(5),
  .calculator__result-box :nth-child(9),
  .calculator__result-box :nth-child(10),
  .calculator__result-box :nth-child(6) {
    border-bottom: 1px solid #ddd;
  }

  .calculator__result-box :nth-child(7),
  .calculator__result-box :nth-child(11) {
    border-bottom: 1px solid #7d8789;
  }

  .calculator__result-box :nth-child(4),
  .calculator__result-box :nth-child(8),
  .calculator__result-box :nth-child(2),
  .calculator__result-box :nth-child(3) {
    font-size: 17px;
    font-weight: 500;
  }

  .calculator__result-item {
    border: none;
  }

  .calculator__result-item_dark-border {
    border: none;
  }

  .calculator__result-item_hiden {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    background: none !important;
  }

  .info__text-box {
    margin: 0 0 30px 0;
  }

  .present {
    background: none;
  }

  .present__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 30%;
    grid-template-rows: 1fr 30%;
    gap: 0;
    border-radius: 15px;
    background: #0062a4;
    padding: 7% 20px;
    margin: 0 10px;
  }

  .present__container {
    margin-bottom: 18%;
    padding: 0 10px 7% 10px;
  }

  .present__img-wrap {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 100%;
    padding-bottom: 97%;
  }

  .present__title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .present__btn {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    padding: 22px 50px;
  }
}

@media (max-width: 658px) {
  .info__item-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  .info__item-logo {
    margin-bottom: 0;
  }

  .info__item-subtitle {
    max-width: inherit;
  }
}

@media (max-width: 650px) {
  .prise__slider-button-prev {
    display: none !important;
  }

  .prise__slider-button-next {
    display: none !important;
  }

  .prise__slider {
    display: none !important;
  }
}

@media (max-width: 627px) {
  .interface__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 624px) {
  .calculator__input-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .calculator__btn {
    padding: 24px;
  }
}

@media (max-width: 600px) {
  .search__img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    height: 154px;
    padding-bottom: 0;
  }
}

@media (max-width: 500px) {
  .footer__container {
    padding: 11.9% 10px 3.2% 10px;
  }

  .info__item {
    min-width: auto;
  }

  .info__item-wrap {
    margin-bottom: 40px;
  }

  .notification__lable-btn {
    display: none;
  }

  .notification__btn {
    padding: 18px 52px 18px 35px;
  }

  .no-webp .notification__btn::after {
    background: url("../img/notification/notification__lable-btn-img.png") 0 0/cover no-repeat;
  }

  .notification__btn::after {
    top: 30%;
    right: 16px;
  }

  .search__item {
    padding: 30px;
  }

  .search__item_blue {
    padding: 30px;
  }

  .check__item {
    min-width: auto;
    padding: 30px;
  }

  .check__item-title_green {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .calculator__container {
    padding: 3.3% 10px 22% 10px;
  }

  .calculator__result-item {
    padding: 15px 0;
  }

  .webp .notification__btn::after {
    background: url(../img/notification/notification__lable-btn-img.webp) 0 0/cover no-repeat;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 328px;
  }

  .main__container {
    padding: 106px 10px 14.5% 10px;
  }

  .main__btn {
    padding: 25px 50px;
  }

  .main__wrap-bg {
    margin-bottom: 0;
  }

  .organizations__container {
    padding: 0 10px 14% 10px;
  }

  .organization__nav-btn {
    margin-top: 15px;
  }

  .check__container {
    padding: 17.5% 10px 2.9% 10px;
  }

  .present__btn {
    padding: 20px 50px;
  }
}